@import '../../vars.scss';

.portfolio-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2.5rem;
}

 .portfolio-item {
	background-color: $color-bg-alt;
	padding: 1.3rem;
	border-radius: 2rem;
	border: 5px solid $color-primary-alt;
	transition: $transition;
}

 .portfolio-item:hover {
	border-color: $color-primary-alt;
	background: transparent;
}

.portfolio-item-img {
	border-radius: 1.5rem;
	overflow: hidden;
}


.portfolio-item h3 {
	margin: 1.2rem 0 2rem;
}

.portfolio-item-cta {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.text-center {
	text-align: center;
}

@media screen and (max-width: 1024px) {
	.portfolio-container {
		grid-template-columns: 1fr 1fr;
		gap: 1.2rem;
	}	
}

@media screen and (max-width: 600px) {
	.portfolio-container {
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}	
}