@import '../../vars.scss';

header {
	padding-top: 7rem;
	overflow: hidden;
}

.header-container {
	text-align: center;
	height: 100%;
	position: relative;
} 

.cta {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

.header-socials {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}

.header-socials > a {
	margin: 1rem 0.5rem;
}

.contact {
	border-top: 1px solid $color-primary;
	margin-top: 2.5rem;
	padding-top: 2.5rem;
}