
$color-bg: #1f2024;
$color-bg-alt: #26272b;
$color-primary: #0072c3;
$color-primary-alt: #004c8378;
$color-light: #dce1de;
$color-white: #FFFFFF;

$container-width-lg: 75%;
$container-width-md: 87%;
$container-width-sm: 90%;

$transition: all 400ms ease;
