
$color-bg: #1f2421;
$color-bg-alt: #216869;
$color-primary: #49a078;
$color-primary-alt: #9cc5a1;
$color-light: #dce1de;
$color-white: #FFFFFF;

$container-width-lg: 75%;
$container-width-md: 87%;
$container-width-sm: 90%;

$transition: all 400ms ease;
