
$color-bg: #22223B;
$color-bg-alt: #4A4E69;
$color-primary: #9A8C98;
$color-primary-alt: #C9ADA7;
$color-light: #F2E9E4;
$color-white: #FFFFFF;

$container-width-lg: 75%;
$container-width-md: 87%;
$container-width-sm: 90%;

$transition: all 400ms ease;
